<h3> <font color='#A0522D'> <b> <?php echo h($post['Post']['title']); ?> </b> </font> </h3>
&nbsp;&nbsp;&nbsp;&nbsp;

<p> <font color='#8B4513'> <?php echo h($post['Post']['body']); ?> </font> </p>
<p align='center'>
<?php
    if ($post['Post']['image_url'] != null)
    {
        echo $this->Html->image($post['Post']['image_url'],array('width'=>'300px')); 
    }
?> </p>
<p> <small> <font color='#DC143C'>Created:</font> <font color='#A0522D'><?php echo $post['Post']['created']; ?></font></small></p>
<p> <small> <font color='#DC143C'>Modified: </font> <font color='#A0522D'><?php echo $post['Post']['modified']; ?></font></small></p>

<table>
<tr> <td><big><font color='#A0522D'><b>Leave a Comment</b></font></big> </td></tr>   

<?php foreach ($post['Comment'] as $comment): ?>
    <tr>
    <td>  <?php echo 'User ' ; ?>
    <?php echo h($comment['commentposter'])?> &nbsp;
    <?php echo '★★★'; ?> &nbsp;&nbsp;&nbsp;
     <font color="00008B"> <b> <?php echo h($comment['comment'])?></b></font> </td> 
    <td><center> 
    <?php echo $this->Html->link('Delete', array('controller' => 'comments','action' => 'delete',$comment['id'],$comment['user_id'])); 
    ?> </center> </td>

    <td>
    <center>
    <?php echo $this->Html->link('Edit', array('controller' => 'comments','action' => 'cmtedit',$comment['id'],$comment['user_id'])); ?> 
    </center>
    </td>
    
    </tr>
     
<?php endforeach; ?>

</table>

<?php echo $this->Form->create('Comment',array('url'=>array('controller'=>'posts','action'=>'view',$post['Post']['id'])));?>
    <fieldset>
        
    <?php
        echo $this->Form->input('Comment.comment',array('rows' => '5'));
     ?>
    </fieldset>
 
<?php echo $this->Form->end('Post Comment');?>
