<div class="users form">

<?php echo $this->Form->create('User'); ?>
<?php echo $this->Flash->render('auth'); ?>
	<fieldset>
		<legend>
      		<font color='#A0522D'><?php echo __('LOGIN !!'); ?>
        	<?php echo __('Please enter your username and password'); ?> </font>
			<?php 
				echo $this->Form->input('username'); 
        		echo $this->Form->input('password'); ?>
		</legend>
	</fieldset>
<?php echo $this->Form->end(__('Login')); ?>
<?php echo $this->Html->link('Registration', array('controller' => 'Users','action' => 'add')); ?></p>

</div>
